@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {
    width: 100vw;
    height: 100vh;
    display:flex;
    background-image: url("Static/bgimg.jpg");
}

body{
  padding: 0;
  margin: 0;
}

/* SIDEBAR COMPONENT STYLES */
.Sidebar{
  height:100%;
  width : 288px;
  background-color : #292929;
}

.SidebarList{
  height: auto;
  padding:0;
  width:100%;
}

/* SIDEBAR NAV ITEMS */
.SidebarList .SidebarListItem{
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: rgba(247, 249, 249, 1);
list-style-type: none;
display:flex;
flex-direction:row;
align-items: center;
justify-content:center;
padding: 15px;
}
.SidebarList .SidebarListItem:hover{
  background-color:rgba(243, 0, 80, 1);
}

.SidebarList #active{
  background-color:rgba(243, 0, 80, 1);
}
.SidebarListItem #icon{
  flex:30%;
  display:grid;
  place-items:center;
} 

.SidebarListItem #title{
  flex:70%;
}

/* SIDEBAR TITLE AND ICON */

#SidebarTitle {
display:flex;
flex-direction:row;
justify-content: left;
}
#SidebarTitle p{
  font-family: Pacifico;
  font-size: 32px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;  
  margin-left: 20px;
  margin-top: 23px;
  color: rgba(255, 255, 255, 0.7)

}

#SidebarTitle #SidebarTitleIcon{
  margin-top: 35px;
  margin-left: 35px;
  justify-content: left;

}


/* SEARCH COMPONENT */

.search {
  display: flex;
  align-items: top;
  justify-content: space-between;
  text-align: center;
  margin-top: 27px;
  margin-left:33px;
}

.search-input {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid white;
  color: #ffff;
  padding: 0.2rem 1rem;
  margin-right: -2rem;
  width: 435px;
  height: 50px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: normal;
}

.search-input:hover, .search-input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search-input:focus {
  outline: none;
  background-color: transparent;
}

.search-input::-webkit-input-placeholder {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: normal;
  position: fixed;
}

.search-input:focus + .search-button {
  background-color: transparent;
}

.search-button {
  border: none;
  display:flex;
  align-items: top;
  background-color: transparent;
  margin-top: 1em;  
}

.search-button:hover {
  cursor: pointer;
}

.search-icon {
  height: 1.5em;
  width: 1.5em;
  fill: white;
  margin-left: -0.5em;  
}

/* CONNECT BUTTON STYLE  */

.btn {
  width: 156px;
  height: 52px;
  border-radius: 20px;
  background: linear-gradient(95.24deg, #7C0F35 7.59%, #581266 104.01%);
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight:600;
  line-height: 24px;
  color: white;
  transition: all 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
  margin-top:27px;
  margin-left: 500px;
}

.btn:hover {
  transform: translateY(1px);
  box-shadow: 2px 2px 40px rgba(0, 0, 0, 5);
}
